﻿
@{
    ViewBag.Title = "Add";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавить</title>
</head>
<body>
    <form method='post'>
        <label>Имя</label>
        <input type='text' name="name" />
        <label>Дата рождения</label>
        <input type='date' date="date" />
        <input type='submit' value='Добавить' />
    </form>
</body>
</html>

