﻿
@{
    ViewBag.Title = "Delete";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удалить</title>
</head>
<body>
    <form method='post'>
        <label>Имя</label>
        <input type='text' name='name' />
        <label>Дата рождения</label>
        <input type='date' date="date" />
        <input type='submit' value='Удалить' />
    </form>
</body>
</html>


