﻿@{
    ViewBag.Title = "Поздравлятор";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поздравлятор</title>
</head>
<body>
    <div>
        <h3 align="center">Дни рождения друзей</h3>
            <p><a href="/Home/Add/" target="_blank"> Добавить друзей </a></p>
            <p><a href="/Home/Delete/"target="_blank"> Удалить друга </a></p>
            <p><a href="/Home/Sort/"target="_blank"> Сортировать друзей </a></p>
            <p><a href="/Home/Search/"target="_blank"> Посмотреть друзей </a></p>
        </div>
</body>
</html>

