﻿
@{
    ViewBag.Title = "Список друзей";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Просмотр</title>
    <style>
        td {
            width: 60px;
            height: 60px;
        }
    </style>
</head>

<body>
    <table>
        <caption><b>Список друзей</b></caption>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Дата рождения</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in ViewBag.Human)
            {
                <tr>
                    <td>@p.name</td>
                    <td>@p.date</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

